body {
  margin: 0;
  padding: 0;
  background-color: linear-gradient(135deg, #6c63ff, #b06ab3);
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading-container {
  text-align: center;
  padding: 20px;
}

.reading-results {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card-image.reversed {
  transform: rotate(180deg);
}
