body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Cinzel Decorative", "Times New Roman", Times, serif;
  background: linear-gradient(to bottom, #111, #514c58);
  overflow: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.btn-primary {
  background: #ffbe86;
  padding: 6px 10px;
  color: #333;
  text-decoration: none;
  border-radius: 8px;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reading-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  padding: 0;
  max-width: 100%;
}

.card-image.reversed {
  transform: rotate(180deg);
}

h1 {
  text-align: center;
  margin: 25px auto;
  text-shadow: 2px 2px 4px rgba(234, 255, 170, 0.5);
  letter-spacing: 1px;
  font-size: 2.5rem;
}

#fogCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(10px);
}
