
.tarot-board {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100vh;
  overflow: visible;
  padding: 100px;
}

.drawn-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: auto;
}


.tarot-card {
  position: absolute;
  width: 175px;
  height: 310px;
  border-radius: 8px;
  border: 1px solid #999;
  box-shadow: 0px 4px 10px rgba(111, 110, 110, 0.3);
  z-index: 10;
  cursor: pointer;
  perspective: 600px;
  user-select: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
}

.tarot-card.selected {
  border: 2px solid gold;
  box-shadow: 0 0 15px 3px rgba(255, 215, 0, 0.5);
  border-radius: 8px;
  left: 10%;
  top: 30%;
}

.card-image.reversed {
  transform: rotate(180deg);
}

.card-back {
  width: 100%;
  height: 100%;
  background-image: url('../assets/back.png');
  background-size: cover;
  background-position: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 8px;
}

.card-front {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.drawn-card {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background: #aed8c8;
  color: #292929;
  border: 2px solid #4b8376;
  cursor: pointer;
  border-radius: 8px;
}


img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  list-style: none;
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(234, 255, 170, 0.5);
  font-family: 'Cinzel Decorative', serif;
}

.nav-links a {
  color: #8ed8c8;
  text-decoration: none;
}
.nav-links a:hover {
  color: #ffbe86;
}

.reading-title {
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 15px;
  color: #203657;
  text-shadow: 2px 2px 4px #383838;
  font-family: 'Cinzel Decorative', serif;
}

.reading-instructions-container {
  position: absolute;
  top: 100px;
  left: 70%;
  padding: 15px;
  background-color: #efebd4;
  opacity: 0.9;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
  text-shadow: 1px 1px 4px rgba(22, 22, 20, 0.5);
  font-family:'Unna', serif;
  margin: 20px;
}

.reading-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0px;
}


@media (max-width: 768px) {
  .tarot-board {
    height: auto;
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .tarot-card {
    width: 120px;
    height: 200px;
    left: 50%;
    top: auto;
  }

  .reading-instructions-container {
    left: 10px;
    top: 80%;
    width: auto;
    height: auto;

  }
}

@media (max-width: 480px) {
  .tarot-card {
    width: 100px;
    height: 180px;
  }

  .tarot-board {
    flex-wrap: wrap;
    gap: 10px;
  }
}
