.home {
  color: #000;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #6c63ff;
}

.topbar {
  display: flex;
  justify-content: space-between;
}

header a,
header a.nav-link {
  padding: 6px 8px;
  text-decoration: none;
  color: #fff;
}

header a:hover,
header a.nav-link:hover {
  color: #ff6f61;
}

.home-content * {
  margin-bottom: 20px;
}

.home-content-wrapper {
  z-index: 2;
  position: relative;
}
